@import url("http://fonts.cdnfonts.com/css/harry-potter");
@import url("http://fonts.googleapis.com/css?family=Libre+Baskerville");
@import url("http://fonts.cdnfonts.com/css/harry-potter-and-the-dingbats");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--bg-color: #0a0b0f;
	--text-color: #fff;
	--correct: #068c04;
	--incorrect: #fd0000;
	--not-selected: #3b3b3b;
	--text-lt-grey: #b2b5b2;
}
a {
	text-decoration: none;
	color: var(--text-color);
}
.hp-font {
	font-family: "Harry Potter", sans-serif;
	color: #8b4513;
}

.lord-font {
	font-family: "Libre Baskerville", serif;
	margin-bottom: 5px;
}

html,
body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: "Lato", "Arial", sans-serif;
	font-size: 20px;
	font-weight: 300;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

h1,
h2,
h3 {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 6px;
	margin-top: 6px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
	word-spacing: 2px;
}
h4 {
	text-align: center;
	margin-bottom: 8px;
	letter-spacing: 1.5px;
	word-spacing: 2px;
	text-align: justify;
	font-weight: 400;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header-btn {
	position: absolute;
	top: 0.3rem;
	right: 2rem;
	min-width: 150px;
	padding: 10px 20px;
	font-weight: 600;
	letter-spacing: 2px;
	border-radius: 5px;
	color: var(--text-color);
	background-color: var(--bg-color);
	border: 2px solid var(--text-color);
}
.header-btn:hover {
	cursor: pointer;
	color: var(--bg-color);
	background-color: var(--text-color);
}
.score-container {
	width: 75%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.margin-auto {
	margin-left: auto;
}
.margin-bottom {
	margin-bottom: 1rem;
}

.question-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 50px 0;
}

/*Last Section*/

.question-part {
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	margin: 2em 0;
	border: 1px solid #524f50;
	border-radius: 0.4em;
	margin-bottom: 3em;
}

.btns {
	cursor: pointer;
	display: block;
	margin: 10px 0;
	width: 100%;
	border: 1px solid var(--not-selected);
	padding: 10px;
	font-size: 0.8rem;
	line-height: 1.5;
	border-radius: 0.2em;
}
.btn-grey {
	background-color: var(--not-selected);
	color: var(--text-lt-grey);
}
.btn-red {
	background-color: var(--incorrect);
	color: var(--text-color);
}

.btn-green {
	background-color: var(--correct);
	color: var(--text-color);
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer-container {
	width: 75%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.footer-btn {
	min-width: 150px;
	padding: 10px 20px;
	font-weight: 600;
	letter-spacing: 2px;
	border-radius: 5px;
	color: var(--text-color);
	background-color: var(--bg-color);
	border: 2px solid var(--text-color);
}
.footer-btn:hover {
	cursor: pointer;
	color: var(--bg-color);
	background-color: var(--text-color);
}

.text-color {
	color: var(--text-color);
}
